# Ignore environment & config files
node_modules
dist
coverage
bun.lock
*.log
*.yaml
*.yml
*.json
*.md
*.http

# Ignore git/docker stuff
.gitignore
.dockerignore

# Ignore build and output dirs
build
.out
.expo
.vscode